Xft.dpi: 96

*internalBorder: 1
*externalBorder: -1

URxvt.shading: 30

URxvt.scrollBar: false
!URxvt.scrollBar_right: false
URxvt.scrollBar_floating: false
URxvt.scrollstyle: rxvt

*cursorBlink: true

*saveLines: 99999

*background: #0f0f0f
*foreground: #c8c8c8

!URxvt.perl-ext-common: resize-font

!black
*color0:  #251f1f
*color8:  #5e5e5e
!red
*color1:  #eb4509
*color9:  #eb4509
!green
*color2:  #94e76b
*color10: #95e76b
!yellow
*color3:  #ffac18
*color11: #ffac18
!blue
*color4:  #46aede
*color12: #46aede
!magenta
*color5:  #e32c57
*color13: #e32c57
!cyan
*color6:  #d6dbac
*color14: #d6dbac
!white
*color7:  #efefef
*color15: #efefef

URxvt.borderLess: False

URxvt.font:xft: Source Code Pro:antialias=True:pixelsize=14,xft:WenQuanYi Zen Hei:pixelsize=14
URxvt.boldfont:xft:Source Code Pro:antialias=True:pixelsize=14,xft:WenQuanYi Zen Hei:pixelsize=14

URxvt.depth: 24
